<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Recipe</title>

    <!--Bulma-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--Handle Request-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
</head>
<body>
<div class="container">
    <form id="form">
        <div class="field">
            <div class="control">
                <input name="Title" class="input" type="text" placeholder="Title">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <textarea name="Ingredients" class="textarea" rows="4" placeholder="Ingredients"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <textarea name="Steps" class="textarea" rows="4" placeholder="Steps"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input name="Loves" class="input" type="text" placeholder="Loves">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input name="URL" class="input" type="text" placeholder="URL">
            </div>
        </div>
        <button class="button is-primary is-outlined" type="submit">Create</button>
        <a class="button is-danger is-outlined" href="/">Back</a>
    </form>
</div>

<script type="text/javascript">
    $("#form").submit(function (event) {
        event.preventDefault();
        var data = $("#form").serializeObject();
        var request = $.post("/api/save", data);
        request.done(function () {
            alert("Create Success");
            window.location = "/";
        });
    });
</script>
</body>
</html>