<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Recipe</title>

    <!--Bulma-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--Handle Request-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
</head>
<body>
<div class="container">

    <table class="table is-fullwidth is-striped is-bordered is-hoverable">
        <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Steps</th>
            <th>Loves</th>
            <th>URL</th>
            <th>
                <a class="button is-link is-outlined" href="/create">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="recipe, irecipe : ${recipes}">
            <th th:text="${startIndex + irecipe.index}"></th>
            <td th:text="${recipe.Title}"></td>
            <td th:text="${recipe.Ingredients}"></td>
            <td th:text="${recipe.Steps}"></td>
            <td th:text="${recipe.Loves}"></td>
            <td th:text="${recipe.URL}"></td>
            <td>
                <span>
                <a class="button is-primary is-outlined" th:href="@{|/update/${recipe.id}|}">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a class="button is-danger is-outlined" th:href="@{|/api/delete/${recipe.id}|}"
                   onclick="onClickDeleteButton(event)">
                    <i class="fas fa-trash-alt"></i>
                </a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>

    <nav class="pagination" role="navigation">
        <a th:if="${currentPage} == 0" class="pagination-previous" disabled>Previous</a>
        <a th:if="${currentPage} > 0" class="pagination-previous" th:href="@{|/list/${currentPage - 1}|}">Previous</a>
        <a class="pagination-next" th:href="@{|/list/${currentPage + 1}|}">Next</a>
        <ul class="pagination-list"></ul>
    </nav>
</div>

<script type="text/javascript">
    function onClickDeleteButton(event) {
        event.preventDefault();
        $.get(event.target.href, deleteSuccess)
            .error(deleteError);
    }

    function deleteSuccess() {
        alert("Delete Success");
        location.reload();
    }

    function deleteError(message) {
        alert("Delete Error: " + message);
    }
</script>
</body>
</html>
